body {

    font-family: Arial;
}

form {
    border: 3px solid #f1f1f1;
    background-color: orange;
    height: 450px;
    width: 250px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

h1 {
    color: rgb(0, 128, 6);
    margin-left: 20px;
}

button {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
    padding: 10px 6px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: fit-content;
    text-align: left;

}

button:hover {
    opacity: 0.5;
    background-color: #aa0449;

}


p {
    padding: 10px;
}


input {
    padding: 10px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: content-box;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    width: fit-content;
}

.container {
    padding: 20px;
    /* background-color: #b66767;
*/

}

span {
    float: right;
    padding-top: 16px;
}


label {
    font-weight: bold;

}

.check {
    position: relative;
    top: 0;
    right: 0;
    margin-right: 0;
}